<!---<app-header></app-header>

<app-footer></app-footer>-->

<div class="survey-container" id="surveyContainer">
	<div class="thank-text" id="thankText">Thank you<br>your answers has submited<br>successfully</div>
	<button class="return-btn"   id="backBtn">Back</button>
	<div class="header">
		<img id="logoSurvey" src="assets/images/logoHOCD.png" alt="logo"/>
		<div id="nameLogo" class="name">Heart of chartage Dubai</div>
	</div>
	<div class="content">
		<div class="ctn">
			<div id="questionSurvey" class="question">{{currentQuestion}}</div>
			<div class="action-buttons">
				<button id="btnYes" (click)="nextQuestion('yes')">Yes</button>
				<button id="btnNo" (click)="nextQuestion('no')">No</button>
			</div>
		</div>
	</div>
	<button class="skip-btn" id="skipBtn" (click)="backFromSurvey()">Skip</button>
</div>
<div class="survey-container-CL" id="surveyCtnCL">

	<div class="content-survey-container">
			
		<div class="header-survey">
			<img src="../assets/images/logoHOCD.png">
			<div class="name">Heart Of Carthage Dubai</div>
		</div>
		<div class="content-questions" id="contentQuestions">
			<div class="qst-ctn">
				<div class="question"> {{currentQuestion}} </div>
				<div class="buttons">
					<button (click)="nextQuestion('yes')">yes</button>
					<button (click)="nextQuestion('no')">no</button>
				</div>
				<div class="skip-btn" (click)="surveyCLClose()">skip</div>
			</div>
		</div>
		<div class="finished-survey">
			<div class="text">Thank you!<br><br>your answers has been submited successfully</div>
			<button (click)="surveyCLClose()" >Back</button>
		</div>

	</div>

</div>
<app-aceuil *ngIf="!surveyIsOpen"></app-aceuil>
<router-outlet *ngIf="!surveyIsOpen"></router-outlet>
<div *ngIf="!surveyIsOpen" style="z-index:5000 ; margin-top: 500px;margin-bottom: 200px;">     
	<a target="_blank" href="https://api.whatsapp.com/send?phone=+971%2058%20218%209263&text=%D8%A7%D8%B1%D8%B3%D9%84%20%D8%A7%D9%84%D8%A2%D9%86%20%D8%B7%D9%84%D8%A8%D9%83">
		<div class="whatsapp-bull">
			<i class="fa-brands fa-whatsapp"></i>
		</div>
	</a>
</div>
<app-footer *ngIf="!surveyIsOpen"></app-footer>