<div class="laptop-version">	
	<div class="nav-bar-on-scroll-event">
		<div class="logo">Provident</div>
		<div class="menu-list">
			<div class="item"><span>Buy</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Rent</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Off plan</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Market Trends</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Services</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
			<div class="item"><span>Who we are</span><i class="fa-solid fa-angle-down"></i>
				<div class="drop-down-item end">
					<div class="drop-content">
						<div class="drop-item">Appartements for sale</div>
						<div class="drop-item">Villas for sale</div>
						<div class="drop-item">Townhouses for sale</div>
						<div class="drop-item">Appartements for sale</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-section-heart-of-chartage" style="background-image:url('image5.jpg');">
		<div class="content">
			<div class="header">
				<div class="item"><i class="fa-solid fa-phone"></i><span>+1234567894</span></div>
				<div class="item"><i class="fa-brands fa-whatsapp"></i><span>WhatsApp</span></div>
				<div class="item end"><i class="fa-solid fa-blog"></i><span>Blog</span></div>
			</div>
			<div class="nav-bar">
				<div class="logo">Provident</div>
				<div class="menu-list">
					<div class="item"><span>Buy</span><i class="fa-solid fa-angle-down"></i>
						<div class="drop-down-item">
							<div class="drop-content">
								<div class="drop-item">Appartements for sale</div>
								<div class="drop-item">Villas for sale</div>
								<div class="drop-item">Townhouses for sale</div>
								<div class="drop-item">Appartements for sale</div>
							</div>
						</div>
					</div>
					<div class="item"><span>Rent</span><i class="fa-solid fa-angle-down"></i>
						<div class="drop-down-item">
							<div class="drop-content">
								<div class="drop-item">Appartements for sale</div>
								<div class="drop-item">Villas for sale</div>
								<div class="drop-item">Townhouses for sale</div>
								<div class="drop-item">Appartements for sale</div>
							</div>
						</div>
					</div>
					<div class="item"><span>Off plan</span><i class="fa-solid fa-angle-down"></i>
						<div class="drop-down-item">
							<div class="drop-content">
								<div class="drop-item">Appartements for sale</div>
								<div class="drop-item">Villas for sale</div>
								<div class="drop-item">Townhouses for sale</div>
								<div class="drop-item">Appartements for sale</div>
							</div>
						</div>
					</div>
					<div class="item"><span>Market Trends</span><i class="fa-solid fa-angle-down"></i>
						<div class="drop-down-item">
							<div class="drop-content">
								<div class="drop-item">Appartements for sale</div>
								<div class="drop-item">Villas for sale</div>
								<div class="drop-item">Townhouses for sale</div>
								<div class="drop-item">Appartements for sale</div>
							</div>
						</div>
					</div>
					<div class="item"><span>Services</span><i class="fa-solid fa-angle-down"></i>
						<div class="drop-down-item">
							<div class="drop-content">
								<div class="drop-item">Appartements for sale</div>
								<div class="drop-item">Villas for sale</div>
								<div class="drop-item">Townhouses for sale</div>
								<div class="drop-item">Appartements for sale</div>
							</div>
						</div>
					</div>
					<div class="item"><span>Who we are</span><i class="fa-solid fa-angle-down"></i>
						<div class="drop-down-item end">
							<div class="drop-content">
								<div class="drop-item">Appartements for sale</div>
								<div class="drop-item">Villas for sale</div>
								<div class="drop-item">Townhouses for sale</div>
								<div class="drop-item">Appartements for sale</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="title">
				Your One Stop Shop For Townhouses
			</div>
			<div class="search-container">
				<div class="search-content">
					<div class="section left">
						<div class="input">
							<div class="header-input">
								<div class="item-selected">Sale</div>
								<input type="text" readonly>
								<i class="fa-solid fa-angle-down"></i>
								<div class="drop-input">
									<div class="item">Sale</div>
									<div class="item">Rent</div>
								</div>
							</div>
						</div>
						<div class="input">
							<div class="header-input">
								<div class="item-selected">Property Type</div>
								<input type="text"  readonly>
								<i class="fa-solid fa-angle-down"></i>
								<div class="drop-input">
									<div class="item">Property Type</div>
									<div class="item">Appartment</div>
									<div class="item">Villa</div>
									<div class="item">Townhouse</div>
									<div class="item">Penthouse</div>
									<div class="item">Office space</div>
									<div class="item">Shop</div>
									<div class="item">Retail</div>
									<div class="item">Duplex</div>
									<div class="item">Full Floor</div>
									<div class="item">Hotel Appartment</div>
									<div class="item">Half Floor</div>
								</div>
							</div>
						</div>
						<div class="flex-input">
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Min area</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Min area</div>
										<div class="item">300 sqft</div>
										<div class="item">500 sqft</div>
										<div class="item">700 sqft</div>
										<div class="item">800 sqft</div>
										<div class="item">1.000 sqft</div>
									</div>
								</div>
							</div>
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Max area</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Max area</div>
										<div class="item">300 sqft</div>
										<div class="item">500 sqft</div>
										<div class="item">700 sqft</div>
										<div class="item">800 sqft</div>
										<div class="item">1.000 sqft</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section right">
						<div class="search-header">
							<div class="input">
								<input type="text" placeholder="City / Community / Building">
							</div>
							<button><i class="fa-solid fa-magnifying-glass"></i><span>search</span></button>
						</div>
						<div class="inputs">
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Min price</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Min price</div>
										<div class="item">300,000 AED</div>
										<div class="item">400,000 AED</div>
										<div class="item">500,000 AED</div>
										<div class="item">600,000 AED</div>
										<div class="item">700,000 AED</div>
										<div class="item">800,000 AED</div>
									</div>
								</div>
							</div>
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Max price</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Max price</div>
										<div class="item">300,000 AED</div>
										<div class="item">400,000 AED</div>
										<div class="item">500,000 AED</div>
										<div class="item">600,000 AED</div>
										<div class="item">700,000 AED</div>
										<div class="item">800,000 AED</div>
									</div>
								</div>
							</div>
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Min bed</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Min bed</div>
										<div class="item">Studio</div>
										<div class="item">1 Bedroom</div>
										<div class="item">2 Bedroom</div>
										<div class="item">3 Bedroom</div>
										<div class="item">4 Bedroom</div>
										<div class="item">5 Bedroom</div>
									</div>
								</div>
							</div>
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Max bed</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Max bed</div>
										<div class="item">Studio</div>
										<div class="item">1 Bedroom</div>
										<div class="item">2 Bedroom</div>
										<div class="item">3 Bedroom</div>
										<div class="item">4 Bedroom</div>
										<div class="item">5 Bedroom</div>
									</div>
								</div>
							</div>
							<div class="input long-input">
								<div class="header-input">
									<div class="item-selected">Completion status</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Completion status</div>
										<div class="item">Ready</div>
										<div class="item">Offplan</div>
									</div>
								</div>
							</div>
						</div>
						<div class="input-search">
							<input type="text" placeholder="Amenities" />
						</div>
					</div>
				</div>
			</div>
			<div class="footer-section">
				<img src="image2.png" alt="">
				<div class="details">
					<span>Looking to Sell or Lease your property in Dubai?</span>
					<div>List with Provident & find a tenant or buyer in a jiffy!</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="responsive-version">
	<div class="side-bar" id="sideBar">
		<div class="content-side-bar" id="contentBar">
			<div class="header-title">
				<div class="title">Menu</div>
				<i class="fa-solid fa-xmark" id="closeSidebar"></i>
			</div>
			<div class="menu-list">
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Buy</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Rent</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Off Plan</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Market Trends</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Services</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
				<div class="item">
					<input type="text" readonly name="">
					<div class="item-title"><div>Who we are</div><i class="fa-solid fa-angle-down"></i></div>
					<div class="list">
						<div class="drop-item"><div>Appartements for sale</div></div>
						<div class="drop-item"><div>Villas for sale</div></div>
						<div class="drop-item"><div>Townhouses for sale</div></div>
						<div class="drop-item"><div>Appartements for sale</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-section-heart-of-chartage" style="background-image:url('image5.jpg');">
		<div class="content">
			<div class="header">
				<div class="item"><i class="fa-solid fa-phone"></i><span>+1234567894</span></div>
				<div class="item"><i class="fa-brands fa-whatsapp"></i><span>WhatsApp</span></div>
				<div class="item end"><i class="fa-solid fa-blog"></i><span>Blog</span></div>
			</div>
			<div class="nav-bar">
				<div class="logo">Provident</div>
				<div class="menu-btn" id="openSideBar"><i class="fa-solid fa-bars"></i></div>
			</div>

			<div class="search-container">
				<div class="search-content">
					<div class="section left">
						<div class="input">
							<div class="header-input">
								<div class="item-selected">Sale</div>
								<input type="text" readonly>
								<i class="fa-solid fa-angle-down"></i>
								<div class="drop-input">
									<div class="item">Sale</div>
									<div class="item">Rent</div>
								</div>
							</div>
						</div>
						<div class="input">
							<div class="header-input">
								<div class="item-selected">Property Type</div>
								<input type="text"  readonly>
								<i class="fa-solid fa-angle-down"></i>
								<div class="drop-input">
									<div class="item">Property Type</div>
									<div class="item">Appartment</div>
									<div class="item">Villa</div>
									<div class="item">Townhouse</div>
									<div class="item">Penthouse</div>
									<div class="item">Office space</div>
									<div class="item">Shop</div>
									<div class="item">Retail</div>
									<div class="item">Duplex</div>
									<div class="item">Full Floor</div>
									<div class="item">Hotel Appartment</div>
									<div class="item">Half Floor</div>
								</div>
							</div>
						</div>
						<div class="flex-input">
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Min area</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Min area</div>
										<div class="item">300 sqft</div>
										<div class="item">500 sqft</div>
										<div class="item">700 sqft</div>
										<div class="item">800 sqft</div>
										<div class="item">1.000 sqft</div>
									</div>
								</div>
							</div>
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Max area</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Max area</div>
										<div class="item">300 sqft</div>
										<div class="item">500 sqft</div>
										<div class="item">700 sqft</div>
										<div class="item">800 sqft</div>
										<div class="item">1.000 sqft</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section right">
						<div class="search-header">
							<div class="input">
								<input type="text" placeholder="City / Community / Building">
							</div>
							<button><i class="fa-solid fa-magnifying-glass"></i><span>search</span></button>
						</div>
						<div class="inputs">
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Min price</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Min price</div>
										<div class="item">300,000 AED</div>
										<div class="item">400,000 AED</div>
										<div class="item">500,000 AED</div>
										<div class="item">600,000 AED</div>
										<div class="item">700,000 AED</div>
										<div class="item">800,000 AED</div>
									</div>
								</div>
							</div>
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Max price</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Max price</div>
										<div class="item">300,000 AED</div>
										<div class="item">400,000 AED</div>
										<div class="item">500,000 AED</div>
										<div class="item">600,000 AED</div>
										<div class="item">700,000 AED</div>
										<div class="item">800,000 AED</div>
									</div>
								</div>
							</div>
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Min bed</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Min bed</div>
										<div class="item">Studio</div>
										<div class="item">1 Bedroom</div>
										<div class="item">2 Bedroom</div>
										<div class="item">3 Bedroom</div>
										<div class="item">4 Bedroom</div>
										<div class="item">5 Bedroom</div>
									</div>
								</div>
							</div>
							<div class="input">
								<div class="header-input">
									<div class="item-selected">Max bed</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Max bed</div>
										<div class="item">Studio</div>
										<div class="item">1 Bedroom</div>
										<div class="item">2 Bedroom</div>
										<div class="item">3 Bedroom</div>
										<div class="item">4 Bedroom</div>
										<div class="item">5 Bedroom</div>
									</div>
								</div>
							</div>
							<div class="input long-input">
								<div class="header-input">
									<div class="item-selected">Completion status</div>
									<input type="text" readonly>
									<i class="fa-solid fa-angle-down"></i>
									<div class="drop-input">
										<div class="item">Completion status</div>
										<div class="item">Ready</div>
										<div class="item">Offplan</div>
									</div>
								</div>
							</div>
						</div>
						<div class="input-search">
							<input type="text" placeholder="Amenities" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>